<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "profile" %>
  </head>
  <body>
    <div id="whole_page">
      <div id="header">Socialley</div>
        <div id="nav">
          <span style="float: right">
            <% if  logged_in? -%>
              <%= nav_link "Hub", "user", "index" %> |
              <%= nav_link "Logout", "user", "logout" %>
            <% else -%>
              <%= nav_link "Register", "user", "register" %> |
              <%= nav_link "Login", "user", "login" %>
            <% end -%>
          </span>
          <%= nav_link "Home", "site" %> |
          <%= nav_link "About Us", "site", "about" %> |
          <%= nav_link "Help", "site", "help" %> |
        </div>
        <div id="content">
          <% if flash[:notice] -%>
            <div id="notice">
              <%= flash[:notice] %>
            </div>
          <% end -%>
          <%= yield %>
          <br clear="all" />
        </div>
          <% if ENV["RAILS_ENV"] == "development" %>
            <%=debug(params) %>
            <%=debug(session) %>
            <%= debug(request.env) %>
            <%= debug(request) %>
          <% end %>
    </div>
  </body>
</html>
