<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "profile" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="whole_page">
      <div id="header">Socialley</div>
        <div id="nav">
          <span style="float: right">
            <% if  logged_in? -%>
              <%= nav_link "Hub", "user", "index" %>
              <%= nav_link "Logout", "user", "logout" %>
            <% else -%>
              <%= nav_link "Register", "user", "register" %>
              <%= nav_link "Login", "user", "login" %>
            <% end -%>
          </span>
          <%= nav_link "Home", "site" %>
          <%= nav_link "Community", "community", "index" %>
        </div>
        <div id="content">
          <% if flash[:notice] -%>
            <div id="notice">
              <%= flash[:notice] %>
            </div>
          <% end -%>
          <%= yield %>
          <br clear="all" />
        </div>
        
    </div>
  </body>
</html>
